.modal {
    display: none;
    position: fixed;
    background-color: rgba(196, 196, 196, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__window {
        max-width: 428px;
        width: 90%;
        box-sizing: border-box;
        padding: 30px 40px 33px;
        border-radius: 8px;
        background-color: var(--white);
        position: relative;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    &__header {
        margin: 0 0 14px;
    }

    &__text {
        text-align: left;
        color: var(--grey-4);
    }

}