.histogram {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px;
    height: 185px;
    max-width: 300px;
    display: flex;
    flex-flow: column nowrap;

    &__header {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        &-item {
            width: 50%;
            margin: 0 0 6px;

            &_aleft {
                text-align: left;
            }

            &_aright {
                text-align: right;
            }
        }

        &-total {
            font-family: $inter;
            color: var(--black);
            line-height: 24px;
            opacity: 0.8;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }

        &-view {
            font-family: $inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-align: right;
            color: var(--blue-1);
            margin: 1px 0 0;
        }

        &-amount {
            font-family: $inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }

    &__scale {
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        margin: auto 0 0;
        

        // 30 items
        &-item {
            width: calc(3.33% - 1px);
            margin: 0 1px 0 0;
            height: 100%;
            background-color: var(--blue-1);

            &:last-child {
                width: 3.33%;
                margin: 0;
            }
        }
    }
}