:root {
    --white: #ffffff;
    --black: #212429;
    --black-1: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-1: #5028C6;
    --blue: #374FC7;
    --blue-1: #4263EB;
    --blue-2: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #E2E6E8;
    --grey-6: #F3F5F5;
    --grey-7: #E3E7EA;
    --grey-8: #F9FAFC;
    --grey-9: #2124290D;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;

* {
    font-family: $roboto;
}

// placeholders
%pl-h1 {
    font-size: 50px;
    line-height: 64px;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

%pl-h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

%pl-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

$default-transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
