// css reset and normolize
@import '../../node_modules/css-reset-and-normalize/scss/button-reset';
@import '../../node_modules/css-reset-and-normalize/scss/link-reset';
@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';

// project styles
@import '../fonts/_fonts';
@import './variables';
@import './helper';
@import '../../03-lection1/02-accordion/_accordion';
@import '../../03-lection1/01-button/_button';
