// css reset and normolize
@import '../../node_modules/css-reset-and-normalize/scss/button-reset';
@import '../../node_modules/css-reset-and-normalize/scss/link-reset';
@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';

// global styles
@import '../fonts/_fonts';
@import './_variables';
@import './_mixins';
@import './_global';
@import './_helper';

// page styles
@import '../../components/page/_page';

// components
@import '../../components/header/_header';
@import '../../components/main/_main';
@import '../../components/footer/_footer';
@import '../../components/text/_text';
@import '../../components/text-header/_text-header';
@import '../../components/card/_card';
@import '../../components/preview/_preview';

// hw components
@import '../../03-lection1/02-accordion/_accordion';
@import '../../03-lection1/01-button/_button';
@import '../../04-lection2/01-histogram/_histogram';
@import '../../04-lection2/02-skeleton/_skeleton';
@import '../../05-lection3/01-tooltip/_tooltip';
@import '../../05-lection3/02-modal/_modal';
@import '../../05-lection3/03-calendar/_calendar';
@import '../../06-lection4/01-avatar/_avatar';
@import '../../06-lection4/02-background-image/_background-image';
@import '../../06-lection4/03-srcset/_srcset';
@import '../../07-lection5/01-checkbox/_checkbox';
@import '../../07-lection5/02-radio/_radio';
@import '../../07-lection5/03-toggler/_toggler';
@import '../../07-lection5/04-input/_input';
@import '../../09-lection7/01-burger-menu/_burger-menu';
