.calendar {
    padding: 28px 30px 40px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);

    &__title {
        font-family: $inter;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        color: var(--black-2);
        margin: 0 0 24px;
        text-align: center;
    }

    &__wrapper {
        padding-bottom: 100%;
        position: relative;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__day {
        &-header {
            color: var(--grey-9);
            font-family: $inter;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
        }

        &-item {
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: var(--black-2);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row nowrap;

            &_selected {
                background-color: var(--blue-1);
                color: var(--white);
            }

            &_hightlight {
                background-color: var(--rgba-purple-2);
            }
        }
    }
}