.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;

    h2 {
        margin: 0 0 30px;
    }

    &__text {
        max-width: 640px;
    }
}